<style>
  @media (max-width: 768px) {
    /* تنسيقات للجوال */
    footer .container {
      width: 100%;
      padding: 0 !important;
    }

    footer .links {
      padding: 0px 0px !important;
      line-height: 20px;
      margin-top: 50px;
    }
  }
</style>
<hr class="border border-blueGray-300 opacity-50  mt-1" />

<footer class="relative pt-7 mt-1">
  <div
    class="bottom-auto top-0 right-0 w-full absolute pointer-events-none overflow-hidden mt-3 h-20"
    style="transform: translateZ(0)"
  >
    <!-- <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-blueGray-200 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg> -->
  </div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-center lg:text-right">
      <div class="lg:w-5/12 px-2">
        <img src="assets/images/Lozan.png" style="height: 40px; width: 80px" />
        <h5 class="text-m mt-3 text-end mb-2 text-blueGray-600">
          "لوزان®: مظلتك المثالية، مصممة خصيصاً لتحمل حرارة الشمس في السعودية."
        </h5>
      </div>
      <div class="lg:w-7/12 px-4">
        <div class="flex flex-wrap items-top mb-6 text-right">
          <div class="w-full lg:w-6/12 px-4 mr-auto links">
            <h2 class="block uppercase font-semibold mb-2">روابط مهمة</h2>
            <ul class="list-unstyled">
              <li>
                <a
                  class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  routerLink="AboutUs"
                >
                  من نحن!
                </a>
              </li>
              <li>
                <a
                  class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  routerLink="InstallationInstructions"
                >
                  تعليمات التركيب
                </a>
              </li>
              <li>
                <a
                  class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  routerLink="GuaranteesAndPolicy"
                >
                  الضمانات وسياسة الاسترجاع والاستبدال
                </a>
              </li>
              <li>
                <a
                  class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  routerLink="CommonQuestion"
                >
                  الاسئلة الشائعة
                </a>
              </li>
              <li>
                <a
                  class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  routerLink="Centers"
                >
                  المراكز المقترحة!
                </a>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-6/12 px-4 links">
            <h2 class="block uppercase font-semibold mb-2">تواصل معنا</h2>
            <ul class="list-unstyled">
              <li>
                <a
                  class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  href="https://wa.me/+966598886502"
                >
                  <i class="fab fa-whatsapp-square mx-2"></i>

                  +966598886502
                </a>
              </li>
              <li>
                <a
                  class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  href="https://wa.me/+966598886502"
                >
                  <i class="fas fa-mobile-alt mx-2"></i>
                  +966598886502
                </a>
              </li>
              <li>
                <a
                  class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                  href="mailto:LOZAN2030SA@GMAIL.COM"
                >
                  <i class="fas fa-envelope mx-2"></i>

                  {{ "LOZAN2030STest@GMAIL.COM" }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold py-1">
          <!-- Copyright © {{ date }} Notus Angular by -->

          صنع بإتقان على © | 2025 منصة لوزان .
        </div>
      </div>
    </div>
  </div>
  <hr class="my-6 border-blueGray-300" />
  <div class="flex flex-wrap items-center justify-center bg-white p-4">
    <!-- mada icon -->
    <div class="mx-2 my-1">
      <img src="assets/img/Madia.svg" class="w-12 h-12 md:w-14 md:h-14" />
    </div>

    <!-- mastercard -->
    <div class="mx-2 my-1">
      
     <a href=""> <img src="assets/img/mastercard.png" class="w-8 h-8 md:w-10 md:h-10" /> </a>
    </div>

    <!-- visa icon -->
    <div class="mx-2 my-1">
      <img src="assets/img/Visa.png" class="w-8 h-8 md:w-10 md:h-10" />
    </div>

    <!-- applepay -->
    <div class="mx-2 my-1">
      <img src="assets/img/applePay.svg" class="w-8 h-8 md:w-10 md:h-10" />
    </div>

    <!-- tabby -->
    <div class="mx-2 my-1">
      <img src="assets/img/Tabbay.svg" class="w-12 h-12 md:w-24 md:h-24" />
    </div>

    <!-- tamara -->
    <div class="mx-2 my-1">
      <img src="assets/img/tamara2.jpg" class="w-8 h-8 md:w-10 md:h-10" />
    </div>

    <!-- payment icon -->
    <div class="mx-2 my-1">
      <img src="assets/img/paymentIcon.png" class="w-8 h-8 md:w-10 md:h-10" />
    </div>

    <div class="mx-2 my-1">
     <a href="https://eauthenticate.saudibusiness.gov.sa/certificate-details"><img src="assets/img/saudi.svg" class="w-8 h-8 md:w-10 md:h-10" /></a> 
    </div>
  </div>
</footer>
