
<div class="flex justify-center pt-24 pb-16 my-5">
    <div class="leading-10 my-5 w-full lg:w-9/12 mx-2 justify-center items-center p-6  border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
       <h2 class="text-3xl font-semibold text-gray-900 dark:text-white my-5"> الضمانات وسياسة الاسترجاع والاستبدال

    </h2>
       <h2 class="text-3xl font-semibold text-gray-900 dark:text-white my-5"> اتفاقية المستخدم

    </h2>
       <div class="mx-2">
        <div>
            <p class="w-full">
                يرحب بكم متجر Lozan ويعلمكم بأنكم ستجدون الشروط والأحكام الخاصة باستخدام هذا المتجر وكافة الآثار القانونية الناتجة عن استخدامكم لما يقدمه هذا المتجر أدناه، حيث أن استخدام أي شخص كان لمتجر Lozan فإن هذا موافقة وقبول منه وهو بكامل أهليته المعتبرة شرعاً ونظاماً وقانوناً لكافة مواد وأحكام هذه الاتفاقية وهو تأكيد لالتزامكم بأنظمتها ولما ذكر فيها، وهذه الاتفاقية سارية على جميع أنواع التعامل بين العميل وبين المتجر، وتسري هذه الاتفاقية بمجرد قيامكم بالموافقة عليها والبدء في التسجيل بموجب المادة العاشرة من نظام التعاملات الإلمترونية السعودي.


            </p>
        </div>
        <div class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة الأولى - المقدّمة والتعريفات:


            </h5>
            <p>يعتبر التمهيد أعلاه جزءاً لا يتجزأ من هذه الاتفاقية ، كما تجدون أدناه الدلالات والتعريفات للعبارات الرئيسية المستخدمة في هذه الاتفاقية :

                
            </p>
            <p>1. ( المتجر ) يقصَد بهذه العبارة الشركة ، ويشمل هذا التعريف كافة أشكال المتجر على الموقع الالكتروني ، سواءً كانت تطبيق إلكتروني، أو محل تجاري.

            </p>
            <p>2. ( المستخدم ) يقصَد بهذه العبارة كل مستهلك يقوم بشراء المنتج أو الخدمة من المتجر عبر منصته الالكترونية.

            </p>
            <p>3. ( الاتفاقية ) يقصَد بهذه العبارة شروط وأحكام هذه الاتفاقية، والتي تحكم وتنظّم العلاقة فيما بين أطراف هذه الاتفاقية.

            </p>
        </div>
        <div class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة الثانية - أهلية المستخدم القانونية:


            </h5>
            <p>1. يقر المستخدم بأنه ذا أهلية قانونية معتبرة شرعاً ونظاماً للتعامل مع المتجر، أو أن عمره لا يقل عن ثمانية عشرة عاماً.

            </p>
            <p>2. يوافق المستخدم بأنه في حال مخالفته لهذه المادة، فإنه يتحمّل تبعات هذه المخالفة أمام الغير.

            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة الثالثة - طبيعة التزام متجر مختلف:

            </h5>
            <p>1. إن التزام المتجر تجاه المستهلكين أو المستخدمين هو توفير ( الخدمة أو المنتج ) .

            </p>
            <p>2. قد توفّر متجر خدمات أخرى كخدمات ما بعد البيع أو غيرها من الخدمات ذات العلاقة، وذلك يعود لطبيعة ونوع ( الخدمة أو المنتج ) المطلوبة من المستخدم.

            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة الرابعة - ضوابط استخدام متجر 

            </h5>
            <p>1. يلتزم المستخدم باستخدام المنصة الالكترونية الخاصة بـالمتجر بما يتّفق مع الآداب العامة والأنظمة المعمول بها في المملكة العربية السعودية.
            </p>
            <p>2. يلتزم المستخدم عند شرائه لخدمة أو منتج من المتجر ا يستخدم هذه الخدمة أو المنتج بما يخالف الآداب العامة والأنظمة المعمول بها في المملكة العربية السعودية.

            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة الخامسة - الحسابات والتزامات التسجيل:
            </h5>
            <p>فور التقدم بطلب الانضمام إلى عضوية المتجر كمستخدم تكون ملتزماً بالإفصاح عن معلومات محددة واختيار اسم مستخدم وكلمة مرور سرية لاستعمالها عند الولوج لخدمات المتجروبذلك تكون قد وافقت على:

            </p>
            <p>1. أن تكون مسؤولاً عن المحافظة على سرية معلومات حسابك وسرية كلمة المرور ، وتكون بذلك موافقاً على إعلام المتجر حالاً بأي استخدام غير مفوض به لمعلومات حسابك لدى متجر مختلف أو أي اختراق آخر لمعلوماتك السرية.

            </p>
            <p>2. لن يكون المتجر أي حال من الأحوال مسؤولًة عن أي خسارة قد تلحق بك بشكل مباشر أو غير مباشر معنويا أو ماديا نتيجة كشف معلومات اسم المستخدم أو كلمة الدخول.

            </p>
            <p>3. أنت تلتزم باستخدام حسابك أو عضويتك لدى متجرLozan بنفسك، حيث أنك مسؤولاً عنه مسؤولية كاملة، وفي حال استخدام غيرك له فهذه قرينة على أنك قد فوّضته باستخدام المتجر باسمك ولحسابك.

            </p>
            <p>4. أنت تلتزم عند استخدام المتجر أن تستخدمها بكل جدية ومصداقية.

            </p>
            <p>5. أنت تلتزم بالإفصاح عن معلومات حقيقية وصحيحة ومحدثة و كاملة وقانونية عن نفسك حسبما هو مطلوب أثناء التسجيل لدى المتجر وتلتزم بتحديث بياناتك في تغييرها في الواقع أو في حال الحاجة إلى ذلك.

            </p>
            <p>6. إن متجر Lozan تلتزم بالتعامل مع معلوماتك الشخصية وعناوين الاتصال بك بسريّة تامة.

            </p>
            <p>7. في حالة عدم الالتزام بأي مما ورد أعلاه فإن لإدارة متجر مختلف الحق في إيقاف أو إلغاء متجرك أو عضويتك أو حجبك من الولوج لخدمات المتجر مرة أخرى.

            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة السادسة - الاتصالات الإلكترونية ووسائل التواصل الرسمية:


            </h5>
            <p>1. يوافق أطراف هذه الاتفاقية على أن التواصل يتم عبر البريد الإلكتروني المسجّل في المنصّة.

            </p>
            <p>2. يوافق المستخدم على أن جميع الاتفاقيات والإعلانات والبيانات والاتصالات الأخرى التي تزود بها الكترونياً تقوم مقام مثيلاتها المكتوبة ، وهي حجة قائمة بذاتها ، في تلبية الاحتياجات النظامية والشرعية.

            </p>
            <p>3. يوافق المستخدم على إمكانية التواصل معه وتبليغه بأي أحكام تخص هذه الاتفاقية أو تخص التعامل معه من خلال قيام إدارة Lozan مختلف ببث رسائل عامة ترد إلى كافة المستخدمين أو إلى مستخدمين محددين لـلمتجر

            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة السابعة – الملكية الفكرية:


            </h5>
            <p>1. إن حقوق الملكية الفكرية الخاصة بـمتجر Lozan هي حقوق مملوكة لـ متجر Lozan ملكية تامة، سواءً كانت مملوكة لهم قبل تأسيس هذه المنصة الالكترونية أم بعد تأسيسها.

            </p>
            <p>
                2. يحترم المستخدم أو المستهلك حقوق الملكية الفكرية الخاصة بمتجر Lozan ، والتي من ضمنها متجر Lozan نفسه، والكلمات والشعارات والرموز الأخرى الخاصة بمتجر Lozan أو المعروضة على متجر Lozan، حيث أن متجر Lozan، وكل حق يتبع بمتجر Lozan، هي حقوق مملوكة ملكية فكرية كاملة لـ متجر Lozan.


            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة الحادية عشرة - مسؤولية متجر مختلف:

            </h5>
            <p>1. يلتزم متجر Lozan بأن يمارس عمله التجاري عبر هذه المنصة الالكترونية بشكل نظامي ووفقاً للأنظمة المعمول بها في المملكة العربية السعودية، ووفقاً لأحكام هذه الاتفاقية.
            </p>
            <p>2. متجر Lozan لا تتحمل أي مطالبات تنشأ عن أخطاء أو إهمال ، سواء كانت ناتجة بشكل مباشر أو غير مباشر أو عرضي أو عن طريق المستخدم أو عن طريق طرف ثالث مثل شركات الشحن.
            </p>
            <p>3. يلتزم متجر Lozan ومنسوبيها ومُلّاكها ومن يمثّلهم بأن يكون ( المنتج أو الخدمة ) سليمة و شرعية و مصرح به وفق قوانين وأنظمة المملكة العربية السعودية ويتم استخدامه لاغراض شرعية.
            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة الثامنة – سرية المعلومات:
            </h5>
            <p>1. تتخذ متجر Lozan معايير ( ملموسة وتنظيمية وتقنية ) لحماية المستخدمين ومنع وصول شخص غير مفوض إلى معلومات المستخدمين الشخصية ، وحفظها.
            </p>
            <p>2. تقر كمستخدم بأن الشبكة العنكبوتية ليسة وسيلة آمنة تماماً، وسرية معلوماتك الشخصية لا يمكن أن تكون مضمونة 100% عبر متجر Lozan .
            </p>
            <p>3. متجر Lozan ليس لها سيطرة على أفعال أي طرف ثالث ، أو الغير ، مثل صفحات الانترنت الأخرى الموصولة عن طريق روابط إلى المنصة أو أطراف ثالثة تدعي أنها تمثلك وتمثل آخرين.

            </p>
            <p>4. أنت تعلم وتوافق على أن متجر Lozan قد تستخدم معلوماتك التي زودتها بها، بهدف تقديم الخدمات لك في متجر Lozan، ولإرسال رسائل تسويقية لك ، وان الخصوصية في متجر Lozan تضبط عمليات الجمع والمعالجة والاستخدام والتحويل لمعلومات هويتك الشخصية، وتخضع قواعد سرية المعلومات لـ "سياسة الخصوصية وسرية المعلومات" الخاصة بمتجر Lozan.

            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة التاسعة - تقييد الولوج أو العضوية:

            </h5>
            <p>يمكن لـمتجر Lozan وقف أو إلغاء عضوية المستخدم أو تقييد ولوج المستخدم إلى خدمات المنصة في أي وقت وبدون إنذار ولأي سبب، ودون تحديد.

            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة العاشرة – سياسة الاستبدال:

            </h5>
            <p>1. مع عدم الإخلال بأحكام الضمان الاتفاقية والنظامية، يحق للمستهلك استبدال المنتج المقدّم إليه من متجر Lozan خلال السبعة الأيام التالية لتاريخ استلام المنتج، ولا يحق له استبدال المنتج بعد مرور السبعة أيام.

            </p>
            <p>2. يشترط لاستبدال المنتج أن يكون المنتج بحالة سليمة وألا يكون المستهلك قد استخدم المنتج أو حصل على منفعته، ويحق لـ متجر Lozan معاينة المنتج قبل استبداله للتأكد من سلامته.

            </p>
            <p>3. لا يحق للمستهلك استبدال المنتج في الحالات التالية:
            </p>
            <p>· إذا كان المنتج تم تصنيعه بناءً على طلب المستهلك أو وفقاً لمواصفات حدّدها، ويستثنى من ذلك المنتجات التي بها عيب أو التي خالفت المواصفات المحدّدة من قبل المستهلك.
            </p>
            <p>· إذا ظهر عيب في المنتج بسبب سوء حيازة المستهلك.

            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة الحادية عشر – سياسة الاسترجاع:

            </h5>
            <p>1. مع عدم الإخلال بأحكام الضمان الاتفاقية والنظامية، يحق للمستهلك فسخ العقد واسترجاع المنتج المقدّم إليه من متجر Lozan خلال السبعة الأيام التالية لتاريخ استلام المنتج، ولا يحق له ذلك المنتج بعد مرور السبعة أيام.

            </p>
            <p>2. يشترط لاسترجاع المنتج أن يكون المنتج بحالة سليمة وألا يكون المستهلك قد استخدم المنتج أو حصل على منفعته، ويحق لـ متجر Lozan معاينة المنتج قبل استرجاعه للتأكد من سلامته.

            </p>
            <p>3. لا يحق للمستهلك استرجاع المنتج في الحالات التالية:

            </p>
            <p>· إذا كان المنتج تم تصنيعه بناءً على طلب المستهلك أو وفقاً لمواصفات حدّدها، ويستثنى من ذلك المنتجات التي بها عيب أو التي خالفت المواصفات المحدّدة من قبل المستهلك.

            </p>
            <p>· إذا ظهر عيب في المنتج بسبب سوء حيازة المستهلك.

            </p>
            <p>4. في حالة توافرت أحكام سياسة الاسترجاع المذكورة ؛ يحق للمستهلك فسخ العقد ورد المنتج إلى متجر Lozan مع استرجاع المبلغ المدفوع.

            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة الثانية عشر - القانون أو النظام الواجب التطبيق:

            </h5>
            <p>تم صياغة هذه الاتفاقية وفق القوانين والأنظمة والتشريعات المعمول بها والسارية في المملكة العربية السعودية، وهي خاضعة تماماً وكلياً للأنظمة المعمول بها دى السلطات في المملكة العربية السعودية.

            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">المادة الثالثة عشر - أحكام عامة:

            </h5>
            <p>· في حال إلغاء أي مادة واردة أو بند ورد في اتفاقية الإستخدام هذه أو أن هناك أي مادة واردة أو أي بند وارد في إتفاقية الإستخدام لم يعد نافذًا ، فإن مثل هذا الأمر لا يلغي صلاحية باقي المواد والبنود والأحكام الواردة في إتفاقية الإستخدام وتظل سارية حتى إشعار آخر من إدارة متجر Lozan.

            </p>
            <p>· إتفاقية الإستخدام هذه - والتي قد تعدل بين حين وآخر بحسب مقتضى الحال - تُشكّل إتفاقية الإستخدام وآلية العمل والتفاهم والاتفاق والتعاقد بين متجر Lozan وبين المستخدم ، كما يوافق كلا أطراف هذه الاتفاقية على أن يوضع في عين الاعتبار ما يلي:
            </p>
            <p>1. إن اللغة العربية هي اللغة المعمول بها عند تفسير أحكام هذه الاتفاقية، أو عند ترجمتها إلى لغة أخرى.

            </p>
            <p>2. إن جميع الأسعار المعروضة على خدمات أو منتجات متجر مختلف قد تعدّل بين حينٍ وآخر.

            </p>
            <p>3. إن العروض الترويجية أو التسويقية التي قد يضعها متجر Lozan هي عروض مؤقتة، حيث أنه لـ متجر Lozan الحق في تعديل هذه العروض الترويجية أو التسويقية في أي وقت أو إيقافها.

            </p>
            <p>4. يلتزم أطراف هذه الاتفاقية بالتعامل فيما بينهم بما لا يخالف القواعد الشرعية والأنظمة والقوانين المعمول بها ذات العلاقة بطبيعة التعامل بين متجر Lozan والمستخدم.

            </p>
            <p>5. لا تُلغى اتفاقية الاستخدام هذه إلا بموجب قرار يصدر من إدارة متجر Lozan

            </p>
        </div>
        <div  class="mt-4">
            <h5 class=" font-semibold text-gray-900 dark:text-white">سياسة الارجاع والاستبدال

            </h5>
            <h5 class=" font-semibold text-gray-900 dark:text-white">لا تشيل هم لوزان حقك محفوظ

            </h5>
            
        </div>
        <div  class="mt-4">
            <p>- نضمن لك في حالة حدث خطأ من قبلنا في تجهيز المنتجات أو وجد اي عيوب مصنعية فإننا سنتحمل جميع التكاليف و سنقوم بحل مشكلتكم في أسرع وقت ممكن شريطة إبلاغنا خلال 5 أيام من تاريخ الاستلام و قبل التركيب عبر رقم خدمة العملاء و إرسال صور المشكلة و الكرتون الخاص بالشحنة .

            </p>
        </div>
        <div  class="mt-4">
            
            <p>-وفي حال رغبة العميل في استرجاع المبلغ بسبب عدم فعالية العزل او تغير لون التظليل فيجب على العميل اثبات ذلك عن الطريق التواصل مع خدمة العملاء والتوجه لاحد المراكز المختصة بالتظليل واختبار التظليل بالأجهزة الخاصة في حساب درجة العزل وارسال النتائج.

            </p>
        </div>
        <div>
            
            <p>-عند رغبة العميل باستبدال منتج معين أو استرجاعه، فينبغي على العميل مراسلتنا خلال خمسة أيام من استلام المنتج شريطة عدم تركيب المنتج ويتحمل العميل قيمة إرجاع وإرسال المنتجات الجديدة بحسب شركة الشحن المختارة من قبل العميل.

            </p>
        </div>
        <div>
        
            <p>- نقدم لوزان المقاسات المناسبة للمركبة، ولكن في حال النقص فإننا نتعهد بتعويض الجزء الناقص بجزء اضافي لتغطية المقاسات، شريطة ألا يكون هذا النقص بسبب خطأ في التركيب.

            </p>
        </div>
        <div>
        <p>- نضمن في لوزان سلامة وجودة المنتج، وفي حال وقوع اي مشكلة تقع اثناء تركيب المنتج فإن لوزان غير مسؤول عن هذا الخطأ ويتحمل الخطأ المركز الذي تم التركيب فيه.

        </p>
        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
       </div>
    </div>
    </div>