@media (max-width: 768px) {
    /* تنسيقات للجوال */
    .section1 {
      height: 150px !important;
      overflow: hidden;
    }

    .section1 img {
        height: 100% !important;
        width: 100% !important;
      }

      .section2 {
        overflow: hidden;
      }
  
      .section1 img {
          height: 100% !important;
          width: 100% !important;
        }
  }
  