
<section class="header relative section1 mt-10 md:mt-0">
  <img
    class="w-full object-contain mx-auto"
    src="assets/img/lozan-head.webp"
    alt="Lozan Header"
  />
</section>

<section class="header relative object-contain mt-2 md:mt-0">
  <img
    class="w-full object-contain mx-auto"
    src="assets/img/lozan-head2.webp"
    alt="Lozan Secondary Header"
  />
</section>

<section class="header relative mt-4 md:pt-1">
  <app-card></app-card>
</section>

<section class="header relative mt-6 md:pt-8">
  <img
    class="w-full object-contain mx-auto"
    src="assets/img/Quality.webp"
    alt="Quality Banner"
  />
</section>

<section class="header relative mt-8 md:pt-16 items-center flex pb-8 md:pb-16">
  <img
    class="w-full object-contain mx-auto"
    src="assets/img/service.webp"
    alt="Service Banner"
  />
</section>