
<div class="flex justify-center pt-24 pb-16 my-5">
<div class="leading-10 my-5 w-full lg:w-9/12 mx-3 justify-center items-center pt-8  border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
   <h2 class="text-3xl font-semibold text-gray-900 dark:text-white my-5"> تعليمات التركيب
</h2>
   <div class="mx-3">
    <div>
        <h5 class=" font-semibold text-gray-900 dark:text-white">    إرشادات تركيب عازل لوزان لكي تحصل على أفضل النتائج .
        </h5>
        <p>لضمان أفضل تجربة وحصولكم على نتائج مثالية، يرجى اتباع الإرشادات التالية:
        </p>
    </div>
    <div>
        <h5 class=" font-semibold text-gray-900 dark:text-white">نظّف سيارتك قبل التركيب
        </h5>
        <p>نوصي بغسل السيارة وتنظيف الزجاج جيدًا من الأتربة والغبار، لأن النظافة تلعب دور كبير في ضمان جودة التركيب وخلوّه من العيوب.
        </p>
    </div>
    <div>
        <h5 class=" font-semibold text-gray-900 dark:text-white">التركيب من الداخل باستخدام الهواء الساخن
        </h5>
        <p>يُفضّل أن يتم التركيب من الجهة الداخلية للزجاج، مع استخدام مسدس الهواء الساخن لضمان التصاق العازل بشكل مثالي واحترافي.
        </p>
    </div>
    <div>
        <h5 class=" font-semibold text-gray-900 dark:text-white">حافظ على شعار لوزان
        </h5>
        <p>يرجى التأكد من عدم قص أو قلب شعار لوزان أثناء التركيب، حفاظًا على أصالة المنتج وضمان جودته المعتمدة.
        </p>
    </div>
    <div>
        <h5 class=" font-semibold text-gray-900 dark:text-white">ركّب الملصقات المرفقة
        </h5>
        <p>الملصقات المرفقة مع العازل جزء من تجربة لوزان، تأكد من إضافتها على الزجاج بعد الانتهاء من التركيب.
        </p>
    </div>
    <div>
        <h5 class=" font-semibold text-gray-900 dark:text-white">لا تفتح النوافذ لمدة 48 ساعة
        </h5>
        <p>بعد التركيب، يُفضّل إبقاء النوافذ مغلقة لمدة يومين، والسماح للسيارة بالبقاء تحت أشعة الشمس ليتم تثبيت العازل بالشكل الأمثل.
        </p>
    </div>
    <div>
        <h5 class=" font-semibold text-gray-900 dark:text-white">تنويه بخصوص مراكز التظليل
        </h5>
        <p>قد تصادف مراكز تروّج لمنتجات بديلة، لكن تأكد إنك مع لوزان اخترت الجودة، الأداء، والراحة... باختصار، اخترت الأفضل.
        </p>
    </div>
    <div>
        <h5 class=" font-semibold text-gray-900 dark:text-white">شكرًا لثقتكم في لوزان. راحتكم وجودة تجربتكم هي أولويتنا دائمًا.
        </h5>
        <p>لوزان... العزل كما يجب أن يكون
        </p>
    </div>
    <div>
        <h5 class=" font-semibold text-gray-900 dark:text-white"></h5>
        <p></p>
    </div>



















   </div>
</div>
</div>