
<div class="flex justify-center pt-24 pb-16 my-3">
    <div class="leading-10 my-5 w-full lg:w-9/12 mx-3 justify-center items-center p-8  border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
       <h2 class="text-3xl font-semibold text-gray-900 dark:text-white my-5">الاسئلة الشائعة</h2>
        <h1>الأسئلة الشائعة</h1>

        <p><strong>اين تم صناعة التظليل ؟</strong><br>
        التظليل مصنوع بأفضل المواصفات والمقاييس في المملكة العربية السعودية بكل فخر
        </p>
        
        <p><strong>ماهي درجات التظليل ؟</strong><br>
        يوجد لدينا ٤ درجات وهي كالتالي:<br>
        70٪ درجة شفافة تسواي بالمصطلح عليه 00<br>
        50٪ درجة تظليل خفيفة تسواي بالمصطلح عليه 01<br>
        35٪ درجة تظليل متوسطة تسواي بالمصطلح عليه 02<br>
        10٪ درجة تظليل متوسطة تسواي بالمصطلح عليه 03
        </p>
        
        <p><strong>هل المنتج اصلي ومضمون ؟</strong><br>
        نعم وكيل تأكيد ونحن في اوان نقدم ضمان لمدة 10 سنوات في حال تغير لون التظليل ونقوم بتبديل المنتج بشكل فوري ( انظر سؤال الاستبدال )
        </p>
        
        <p><strong>هل التظليل يكفي جميع النوافذ ؟</strong><br>
        نعم، يكفي جميع النوافذ الجانبية والامامية والخلفية
        </p>
        
        <p><strong>هل التظليل يشمل زجاج فتحة السقف ؟</strong><br>
        لايشمل فتحة السقف ويمكن طلبها على حسب سعر منفصل
        </p>
        
        <p><strong>عند الطلب، هل التظليل الخاص بزجاج امامي بنفس درجة التظليل لباقي النوافذ ؟</strong><br>
        درجة التظليل الخاص بواجهه الزجاج الامامي شفافة بنسبة 70٪ وذلك حفاظاً على سلامتك والتزاماً بقوانين المرور السعودي
        </p>
        
        <p><strong>في حال لم ترغب عن طريق المتجر، هل تقومون بتركيب التظليل ؟</strong><br>
        نحن في اوان نقدم خدمة التظليل بدون تركيب، وعند رغبتك بتركيب التظليل في مدينتك يوجد لدينا قائمة مراكز تركيب معتمدة سيتم مشاركتها معك بعد الشراء.
        </p>
        
        <p><strong>هل الضمان يشمل التركيب ؟</strong><br>
        متجر اوان يضمن لون التظليل وجودة الصناعة فقط ولا يشمل سوء التركيب أو الاستخدام
        </p>
        
        <p><strong>كيف يتم استبدال المنتج في الضمان ؟</strong><br>
        في حال وجود عيب مصنعي او تغير لون التظليل خلال مدة 10 سنوات ، سيُتوجب عليك ارسال رقم الفاتورة لنا ومقطع فيديو للتظليل المتضرر ومراسلتنا وسوف نقوم بمراجعة الطلب وتبديل التظليل
        </p>
    
    
    </div>
 </div>