
<div class="flex justify-center pt-24 pb-16 my-3 centers">
    <div class="leading-10 my-5 w-full lg:w-9/12 mx-3 justify-center items-center p-8  border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
        
        <h2 class="text-black">المراكز المقترحة!</h2>
        <h2 class="text-black">نقاط البيع والتركيب المعتمدة لدينا في كافة أنحاء المملكة</h2>
        <p class="note">عند شرائك المنتج من أحد مراكزنا المعتمدة، تأكد من طلب تفعيل ضمان 10 سنوات مباشرة من المركز لضمان أفضل خدمة لما بعد البيع.</p>
      
        <p>أطلع عناوين المراكز من <a class="text-blue-500" target="_blank" href="https://www.google.com/maps/d/u/1/viewer?hl=en&ll=29.25801815344058%2C37.000809039396145&z=8&mid=1yQoCsJ37nQQqjpPWWKC0Ex6bgqMI578">هنا</a> :-</p>
      
        <h2 class="">مراكز لوزان - Lozan المقترحة - الدمام        </h2>
        <ul>
          <li>فرع شركة الأخضر السعودي لزينة وشاشات السيارات 4</li>
          <li>لمسة شرقية</li>
          <li>مؤسسة زينة الجبيل للسيارات</li>
          <li>برج البحرين لزينة السيارات</li>
          <li>علم الأسطورة</li>
          <li>نانو بروتكشن للعناية والوقاية للسيارات</li>
          <li>مؤسسة السطوع اللامع لزينة السيارات</li>
          <li>الصقر العالي لزينة السيارات</li>
          <li>Auto Land للعناية بالسيارات</li>
          <li>الشبح لزينة السيارات</li>
          <li>المظله الواقيه لزينه السيارات</li>
          <li>أضواء طريقي للزينة السيارات</li>
          <li>مركز أوتو هاوس</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - الخبر

        </h2>
        <ul>
          <li>Vehicles Expert خبير الرواحل</li>
          <li>الرائد الاصيل لزينه السيارات</li>
          <li>السياره الجميلة (زينه سيارات)</li>
          <li>زينه سيارات The beautiful Car</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - الرياض

        </h2>
        <ul>
          <li>عنوان العزل</li>
          <li>مؤسسة سيارات روانا للسيارات</li>
          <li>زينة السيارات</li>
          <li>انوار النجاح لزينه وتنجيد السيارات</li>
          <li>العربه الاولي لزينة السيارات</li>
          <li>مركز القحطاني لزينة السيارات</li>
          <li>نجمـة الـوطن لــ زينـة الــسيـارات</li>
          <li>صفرين واحد لزينة السيارات 001</li>
          <li>العازل الأسود</li>
          <li>شركة روعة الزينة لاكسسورات السيارات《2》</li>
          <li>بطل الزينه</li>
          <li>حكايات ابداع لزينه السيارات The Car Accessories</li>
          <li>مركز الطاووس لزينة والتنجيد</li>
          <li>مؤسسة نواف خالد لزينة السيارات</li>
          <li>ترس المحرك لوازم وعناية السيارة</li>
          <li>برج الندى لزينة السيارات والتلميع</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - مكة المكرمة

        </h2>
        <ul>
          <li>درايفن لزينة السيارات</li>
          <li>اكس كار لزينة السيارات</li>
          <li>لمسة إبداع لزينة السيارات</li>
          <li>ابو هوس كار استايل</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - جدة

        </h2>
        <ul>
          <li>فور اس نانو سيراميك Four S</li>
          <li>عازل حراري امريكي</li>
          <li>عناية اللمسات للزينة والتلميع</li>
          <li>عالم النبراس لزينة السيارات 1</li>
          <li>عالم النبراس لزينة السيارات 2</li>
          <li>جيرون لزينة السيارات</li>
          <li>ستوري لزينة وتنجيد السيارات</li>
          <li>الماهر لزينة وتنجيد السيارات</li>
          <li>بطاريات سوبر لزينة السيارات</li>
          <li>قطرة نانو NANO DROP لتلميع السيارات</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - الطائف

        </h2>
        <ul>
          <li>كاتاليست كار لوكس | CATALYSTCAR LUXE</li>
          <li>زينة سيارات</li>
          <li>درة الحويه لزينه وتنجيد السيارت</li>
          <li>سن تك للعزل الحراري</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - الجبيل

        </h2>
        <ul>
          <li>مؤسسة الزعيم المبتكر لزينة السيارات بالجبيل</li>
          <li>Protect her</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - الاحساء

        </h2>
        <ul>
          <li>توب ون للعنايه بالسيارات Top1</li>
          <li>زيرو لزينة واكسسوارات السيارات</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - القطيف

        </h2>
        <ul>
          <li>لزينه السيارات‎</li>
          <li>معرض اصداف خليج سيهات</li>
          <li>التفاصيل المثالية للتلميع والتنجيد Perfect details</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - خميس مشيط

        </h2>
        <ul>
          <li>مركز الحارثي لزينة السيارات شاشات</li>
          <li>Al-Rashed Accessories and Car Upholstery</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - جازان

        </h2>
        <ul>
          <li>فرع صامطة - اتش ناين نانو سيراميك . H9 NANO CERAMIC</li>
          <li>H9 اتش ناين للسيارات</li>
          <li>Film Khayal فيلم خيال أفلام العزل الحراري نانو سيراميك</li>
          <li>ماكس شيلد جازان MAXSHIELD JAZAN</li>
          <li>الهرم لتنجيد وزينة و شاشات السيارات</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - حائل

        </h2>
        <ul>
          <li>انجرد Ainjarad للتلميع والعناية الشاملة للسيارة</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - تبوك

        </h2>
        <ul>
          <li>بلد كار زينة سيارات</li>
          <li>لمسات الموتر لزينه السيارت</li>
          <li>Car box - مركز عنايه بالسيارات كار بوكس</li>
        </ul>
      
        <h2>مراكز لوزان - Lozan المقترحة - القصيم

        </h2>
        <ul>
          <li>مؤسسة السنر ١١١ لخدمات السيارات</li>
          <li>Pro car</li>
        </ul>
      
        <div class="footer " style="font-style: italic;">
          شكرًا لثقتكم في لوزان. راحتكم وجودة تجربتكم هي أولويتنا دائمًا.<br>
          لوزان... العزل كما يجب أن يكون.
        </div>
       
        
    </div>
 </div>