
<div class="flex justify-center pt-24 pb-16 my-5" >
    <div class="leading-10 my-5 w-full lg:w-9/12 mx-3 justify-center items-center p-10  border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
       <h2 class="text-3xl font-semibold text-gray-900 dark:text-white my-5"> من نحن!
    </h2>
       <div class="mx-5">
        <div>
            <p>
                " لوزان®: مظلتك المثالية، مصممة خصيصاً لتحمل حرارة الشمس في السعودية."
            </p>
        </div>

    
    
       </div>
    </div>
    </div>