.btngeneric:hover{
    background-color: #DC2626;
    color: #fff  !important;
    }

    @media (max-width: 768px) {
        /* تنسيقات للجوال */
       .container{
        width: 100%;
       }
       .prod {
        padding: 10px 20px;
       }
     .prod .col-sm-3{
        width: 25%;
     }
    .prod .col-sm-8{
        width: 75%;
     }
     .prod img{
        height: 50px ;
     }
     .fw-bold{
        text-align: center;
     }
     .prod .sm-w-full{
        width: 100%;
        text-align: center;
        margin: auto;
     }
     .prod .sm-mt{
        margin:15px 0px;
        text-align: center;

     }
      }