.listgroup{
    position: absolute;
    top:-150px;
    right: 150px;
}
.header{
    height: 300px;
}

@media (max-width: 768px) {
    .listgroup{
        display: none;
    }
  .col-sm-12{
    width: 100%;
  }
  .header{
    height: 200px;
  }
  }